// when using box-sizing: border-box we use an alternative
// box model that treats the "width" property as content + padding + border
@mixin border-box
  box-sizing: border-box
  -moz-box-sizing: border-box // ff2 
  -ms-box-sizing: border-box // ie8 
  -webkit-box-sizing: border-box // safari3 
  -khtml-box-sizing: border-box // konqueror

@mixin tooltip($bg_color, $border_color, $icon_index)
  background-color: $bg_color
  border: 1px solid $border_color
  padding: 6px
  padding-left: 20px
  display: block
  margin-top: 2px
  @include border-box
  @media screen and (min-width: 640px)
    width: 32%
    margin-left: 0.5%
    margin-top: 0
    display: block
    float: right
    position: relative
  &:before
    content: ''
    background: url(images/tooltip-handle.png) 0px $icon_index*-17px no-repeat
    width: 10px
    height: 17px
    display: block
    left: -10px
    top: 7px
    position: absolute
  &:after
    content: ''
    background: url(images/icons.png) 0px $icon_index*-16px
    width: 16px
    height: 16px
    display: block
    left: 2px
    top: 7px
    position: absolute



form
  padding: 1%
  margin: auto
  max-width: 960px

.field
  clear: both
  padding-top: 10px

  .caption
    display: block
    font-weight: bold
    @include border-box
    line-height: 27px

  input
    line-height: 24px
    border: 1px solid #999
    display: block
    width: 100%
    @include border-box

  .success
    @include tooltip(#b5e1ae, #8eb088, 0)

  .error
    @include tooltip(#fbbda9, #e96f5f, 1)

  .tooltip
    @include tooltip(#fbf1b8, #fde541, 2)


@media screen and (min-width: 640px)
  .field

    .caption
      width: 32%
      margin-right: 0.5%
      display: inline-block
      text-align: right
      float: left

    input
      width: 33%
      display: inline-block
      float: left

